<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="ProjectBEntities" connectionString="metadata=res://*/ProjectBDataModel.csdl|res://*/ProjectBDataModel.ssdl|res://*/ProjectBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-0TSHSJGN;initial catalog=ProjectB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>